

h1{
  text-align: center;
}

form{
  color: red;
  margin: 5ch ;
  display: flex;
  width: 80%;
  padding-left: 65ch;
}


#formtext{
  width: 40ch;
}

button{
  color: red;
}

p {
  font-family: sans-serif;
  display: flex;
  flex-direction: row;

}

img{
  width: 50%;
  padding-left: 50ch;
}

